body {
    font-family: 'Lemon', serif;
    background-color: #020202;
    margin: 0;
    padding: 0;
  }

  #title {
    text-align: center;
    color: #B4E4FF;
    margin-top: 30px;
    font-size: 30px;
  }
  
  #description {
    text-align: center;
    color: #C0C0C0;
  }
  
  #survey-form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #FFD700;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  fieldset {
    margin-bottom: 20px;
    border:none;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #008cdd; /* Uber's brand color */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #006699;
  }
  
  legend {
    font-weight: bold;
  }
  
  textarea {
    resize: vertical;
  }
  
  /* Additional Styling for Radio and Checkbox */
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* Additional Styling for Select Dropdown */
  select {
    appearance: none;
    padding: 8px;
    background: #fff url('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/loading.gif') no-repeat right center;
    background-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Media Query for Responsive Design */
  @media (max-width: 600px) {
    #survey-form {
      margin: 20px;
    }
  }
  